@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundPic{
  background: url("/backgroundPic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

*,body,html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .backgroundPic2{
  mix-blend-mode: multiply;
  opacity: 1;
  background: #0C1346;
  color: white;
} */